<div class="container">
    <div *ngFor="let product of products" class="content">
        <div class="card" >
            <div class="card-description" (click)="openDetailsProduct(product)" >
                <img src="{{showImageProduct(product.image)}}" alt="product">
                <h4>{{product.name}}</h4>
                <h3>R${{product.price}}</h3>
                <small>{{product.obsProduct}}</small>
            </div>
            <div class="card-footer">
                <div>
                    <label>Qtd:</label>
                    <input type="number" value="1" min="0">
                </div>
                <button (click)="addInCar()" class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>
</div>