<div class="content">
    <div class="infoApp" (click)="returnInit()">
        <img src="{{logo_ditrict_market}}" alt="district_market">
        <label>Market Distric</label>
    </div>
    <div class="actionsBar"> 
        <!-- <div>
            <input type="text" class="form-control">
            <button >
                <i class="fa fa-search"></i>
            </button>
        </div> -->
        <!-- <label>Contato</label> -->
        <label (click)="cartMarket()" ><i class="fa fa-opencart"></i> Carrinho</label>
        <label (click)="login()" ><i class="fa fa-user-o"></i> Login</label>
    </div>
</div>
