.container{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
}

.content{
    flex-direction: row;
    height: 100px;
    padding: 0;
    margin: 0;
}

.content .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    width: 190px;
    margin: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
}

.content .card img{
    /* width: 180px; */
    height: 150px;
}