.divContainer{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-bottom: 10px;
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.content .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    padding: 10px;
    padding-bottom: 0;
    border-radius: 10px;
    width: 210px;
    margin: 10px;
    transition: 0.2s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
}

.content .card:hover{
    cursor: pointer;
    transition: 0.2s;
    border: 3px blue solid;
}

.content .card img{
    /* width: 180px; */
    height: 150px;
}

.content .card label{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}