<div class="container">
    <div class="content" *ngFor="let product of productsInCart">
        <div class="card">
            <div class="divImage">
                <img src="{{getImage(product.image)}}" alt="product">
            </div>
            <div class="divInfo">
                <div>
                    <div class="topInfo">
                        <h3>{{product.name}}</h3>
                    </div>
                    <label>{{product.description}}</label>
                </div>
                <div class="centerInfo">
                    <h4>Total: </h4>
                    <h4>R${{totalPrice(product.price, product.id)}}</h4>
                </div>
                <div class="footerInfo">
                    <b>Qtd</b>
                    <input type="number" name="" id="" class="form-control" min="1" [(ngModel)]="product.quantity">
                    <button (click)="remove(product)" class="btn btn-danger">Remover</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div></div>
        <div>
            <div>
                <h5>Total a Pagar: R${{calcTotalPrice()}}</h5>
            </div>
            <button (click)="finishSale(productsInCart)" class="btn btn-success">Finalizar Compra</button>
        </div>
    </footer>
</div>