.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.content .marketName{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.content .marketName div{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.content .marketName img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container .card{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container .emptyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    margin-top: 10%;
    font-weight: bold;
}

.container .emptyCart i{
    font-size: 150px;
    color: #9c9c9c;
    margin-bottom: 20px;
}

.container .card .divImage img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 10px;   
}

.container .card .divInfo{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}


.container .card .divInfo label{
    margin: 10px;
}

.container .card .topInfo{
    display: flex;
    width: auto;
    background-color: blue;
    padding: 10px;
    color: #fff;
}

.container .card .centerInfo{
    display: flex;
}

.container .card .centerInfo h4{
    margin-left: 10px;
}

.container .card .footerInfo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.container .card .footerInfo input{
    width: 70px;
    border: 0;
    margin-left: 5px;
    margin-right: 10px;
}

.container footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 255, 0.557);
    padding: 10px;
    justify-content: space-between;
    text-align: center;
    color: #fff;
}

.container footer div{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.container footer button{
    background-color: blue;
}